.App {
  text-align: center;
}

.slot-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.slots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.slot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 0.5rem;
  margin-right: 1rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.slot:last-child {
  margin-right: 0;
}

.slot span {
  font-size: 2rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #0062cc;
}

.message {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
}

.prob {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #6d6d6d;
}
