* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #313338;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App {
  text-align: center;
}

.slot-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.slots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.highlight {
  background: rgba(255, 166, 0, 0.3);
  margin: 2.7rem;
  height: 3rem;
  position: absolute;
  border-radius: 0.5rem;
}

.slot {
  width: 3rem;
  height: 9rem;
  overflow: hidden;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 0.5rem;
  margin-right: 1rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.spinner {
  margin-top: 1.8rem;
  width: 3rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(101.2rem);
}

.animated-spinner {
  animation-name: spinner;
  animation-duration: 7s;
}

@keyframes spinner {
  0% {
  }
  20% {
    transform: translateY(-105.6rem);
    filter: blur(0.5rem);
    transform: scale(0.3, 5);
  }
  100% {
  }
}

.slot:last-child {
  margin-right: 0;
}

/* .spinner1 {
  animation-delay: 0.1s;
}

.spinner2 {
  animation-delay: 0.2s;
}

.spinner3 {
  animation-delay: 0.3s;
}

.spinner4 {
  animation-delay: 0.4s;
}

.spinner5 {
  animation-delay: 0.5s;
}

.spinner6 {
  animation-delay: 0.6s;
}

.spinner7 {
  animation-delay: 0.7s;
}

.spinner8 {
  animation-delay: 0.8s;
}

.spinner9 {
  animation-delay: 0.9s;
}

.spinner10 {
  animation-delay: 1s;
} */

.slot span {
  font-size: 2rem;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #0062cc;
}

.title {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.message {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
}

.prob {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #6d6d6d;
}

.expended {
  background: #232428;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  color: rgb(241, 213, 213);
  z-index: 2;
  transition: 0.3s ease-in-out;
  display: block;
}

.bar {
  width: 0vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  background: transparent;
  color: rgb(241, 213, 213);
  transition: 0.3s ease-in-out;
}

.but {
  background: #232428;
  height: fit-content;
  width: fit-content;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0.5rem;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  border-radius: 100px;
  position: fixed;
}

.but:hover {
  transform: scale(1.1);
}

.settings {
}

.item {
  padding: 2% 4%;
  margin-left: 15%;
  border-radius: 10px;
}

.item-input {
  background-color: #313338;
  color: white;
  padding: 2% 4%;
  margin-left: 15%;
  border-radius: 10px;
  width: 30%;
  outline: none;
}

.item input {
  background-color: #313338;
  color: #fff;
}

.items {
  opacity: 1;
}

.noItems {
  opacity: 0;
  display: none;
}
